<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    
    <title>ログイン</title>
</head>
<body>
    <div th:replace="~{fragment :: header}"></div> 
    
    <main>
        <div class="container tabelogpage-container"> 
            
            <div class="row justify-content-center">
                <div class="col-md-5">
                    
                    <div th:if="${successMessage}" class="alert alert-success">
                        <span th:text="${successMessage}"></span>
                    </div>
                    
                    <div th:if="${param.error}" class="alert alert-danger">
                        メールアドレスまたはパスワードが正しくありません。
                    </div>
                    
                    <div th:if="${param.logout}" class="alert alert-info">
                        ログアウトしました。
                    </div>
                    
                    <h1 class="mb-4 text-center">ログイン</h1>
                    
                    <form method="post" th:action="@{/login}">
                        <div class="form-group mb-3">
                            <label for="email">メールアドレス</label>
                            <input type="email" class="form-control" id="email" name="username" required>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label for="password">パスワード</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        
                        <button type="submit" class="btn tabelogpage-btn w-100">ログイン</button>
                    </form>
                    
                    <div class="text-center mt-3">
                        <p class="mb-1"><a th:href="@{/passwordreset}">パスワードを忘れた方はこちら</a></p>
                        <a th:href="@{/signup}">会員登録</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <div th:replace="~{fragment :: footer}"></div>
    
    <div th:replace="~{fragment :: scripts}"></div>
</body>
</html>