<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: meta}"></div> 
    
    <title>パスワードリセット</title>
    <div th:replace="~{fragment :: styles}"></div> 
</head>
<body>
    <header th:replace="~{fragment :: header}"></header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mt-4 mb-3">パスワード再設定</h2>

                <div th:if="${successMessage}" class="alert alert-success">
                    <span th:text="${successMessage}"></span>
                </div>

                <div th:if="${errorMessage}" class="alert alert-danger">
                    <span th:text="${errorMessage}"></span>
                </div>

                <form th:action="@{/passwordreset}" method="post" th:object="${passwordResetForm}">
                    <div class="form-group mb-3">
                        <label for="email">登録メールアドレス</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}">
                        
                        <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                            <span th:errors="*{email}"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">送信</button>
                </form>

            </div>
        </div>
    </div>

    <div th:replace="~{fragment :: footer}"></div>
    
    <div th:replace="~{fragment :: scripts}"></div> 
</body>
</html>