<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
   <head>
       <div th:replace="~{fragment :: meta}"></div>   
            
       <div th:replace="~{fragment :: styles}"></div>
         
       <title>店舗詳細</title>  
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> 
   </head>
   <body>
       <div class="tabelogpage-wrapper">
           <div th:replace="~{fragment :: header}"></div>
           
           <main>
               <div class="container pt-4 pb-5 tabelogpage-container">
                   <div class="row justify-content-center">
                       <div class="col-xxl-9 col-xl-10 col-lg-11">
                           <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                               <ol class="breadcrumb mb-0">                        
                                   <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                   <li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
                                   <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                               </ol>
                           </nav> 
                           
                           <h1 class="mb-4 text-center" th:text="${store.storeName}"></h1>       
                           
                            <div th:if="${successMessage}" class="alert alert-info">
                                 <span th:text="${successMessage}"></span>
                             </div>                                                        
                           
                           <div th:if="${errorMessage}" class="alert alert-danger">
                               <span th:text="${errorMessage}"></span>
                           </div>                                                                         
                           
                          <div class="mb-4">
                               <img th:if="${store.imagePath}" th:src="@{/storage/__${store.imagePath}__}" class="w-50 mx-auto d-block" alt="店舗画像">
                               <img th:unless="${store.imagePath}" th:src="@{/images/noImage.png}" class="w-50 mx-auto d-block" alt="NO IMAGE">
                           </div>
                           
                           <div class="container">  
                               <div class="row">
                                   <div class="col-lg-8 container mb-4">            
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">店舗名</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${store.storeName}"></span>
                                           </div>
                                       </div>                    
                   
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">説明</span>
                                           </div>
                   
                                           <div class="col">
                                               <span class="tabelogpage-pre-wrap" th:text="${store.description}"></span>
                                           </div>
                                       </div>
                   
                                       <div class="row pb-2 mb-2 border-bottom">
  										  <div class="col-4">
      										  <span class="fw-bold">予算</span>
   										 </div>
									    <div class="col">
									        <span th:text="${'¥' + #numbers.formatInteger(store.priceMin, 1, 'COMMA') + ' 〜 ' + '¥' + #numbers.formatInteger(store.priceMax, 1, 'COMMA')}"></span>
									    </div>
									</div>                  
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">郵便番号</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${store.postalCode}"></span>
                                           </div>
                                       </div>   
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">住所</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${store.address}"></span>
                                           </div>
                                       </div>   
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">電話番号</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${store.phoneNumber}"></span>
                                           </div>
                                       </div>    
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">営業時間</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${#temporals.format(store.openingTime, 'HH:mm') + ' 〜 ' + #temporals.format(store.closingTime, 'HH:mm')}"></span>
                                           </div>
                                       </div>    
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">定休日</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${store.regularHoliday}"></span>
                                           </div>
                                       </div>
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">定員</span>
                                           </div>
                                           <div class="col">
                                               <span th:text="${store.capacity} + '名'"></span>
                                           </div>
                                       </div>
                                       
                                   </div>
                                   
                                   <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                       <div class="card">
                                           <div class="card-body">                                                                                                                                                                                                                     
                                               <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>                                                                                                                                            
                                               <button type="submit" class="btn text-white shadow-sm w-100 tabelogpage-btn" disabled>予約する</button>                                                                                                                
                                           </div>
                                       </div>  
                                   </div>     
                                   
                                   <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                       <div class="card">
                                           <div class="card-body">
                                               <form method="post" th:action="@{/stores/__${store.id}__/reservations/input}" th:object="${reservationInputForm}">
                                                   
                                                   <div class="mb-3">
                                                       <label for="reservation-datetime" class="form-label fw-bold">予約日時</label>
                                                       <input type="text" 
                                                              id="reservation-datetime" 
                                                              class="form-control" 
                                                              th:field="*{reservationDate}" 
                                                              placeholder="日付と時刻を選択" 
                                                              required>
                                                       <div th:errors="*{reservationDate}" class="text-danger"></div>
                                                   </div>

                                                   <div class="mb-3">
                                                       <label for="number-of-people" class="form-label fw-bold">予約人数 (1人以上)</label>
                                                       <input type="number" 
                                                              id="number-of-people" 
                                                              class="form-control" 
                                                              th:field="*{numberOfPeople}" 
                                                              min="1" 
                                                              placeholder="人数を入力" 
                                                              required>
                                                       <div th:errors="*{numberOfPeople}" class="text-danger"></div>
                                                   </div>
                                                   
                                                   <button type="submit" class="btn text-white shadow-sm w-100 tabelogpage-btn">予約する</button>                                                                                                                
                                               </form>                                                                                                                
                               </div>                                                                                             
                           </div>
                           
                           </div>
                           <div class="container px-0 mt-5">
                                <h2 class="mb-4 text-center">レビュー</h2>
                                <div sec:authorize="isAuthenticated()" th:unless="${hasUserAlreadyReviewed}" class="row justify-content-center mb-4">
                                    <div class="col-lg-4">
                                        <a th:href="@{/stores/__${store.id}__/reviews/register}" class="btn text-white shadow-sm w-100 tabelogpage-btn">レビューを投稿する</a>
                                    </div>
                                </div>
                                <div th:if="${#lists.isEmpty(newReviews)}" class="mb-4">                                    
                                    <p class="text-center">まだレビューがありません。</p>                                    
                                </div>                                                                 
                                
                                <div th:unless="${#lists.isEmpty(newReviews)}" class="row justify-content-center g-4 mb-4">
                                    
                                    <div th:each="review : ${newReviews}" class="col-md-6 col-lg-5">
                                        
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <h5 class="card-title" th:text="${review.user.name}"></h5>
                                                    <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == review.user.id}">
                                                        <a th:href="@{/stores/__${store.id}__/reviews/__${review.id}__/edit}" class="me-2">編集</a>
                                                        <a href="#" class="tabelogpage-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.id}">削除</a>
                                                        <div class="modal fade" th:id="${'deleteReviewModal' + review.id}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.id}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" th:id="${'deleteReviewModalLabel' + review.id}" th:text="${store.storeName + 'のレビューを削除してもよろしいですか？'}"></h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form method="post"th:action="@{/stores/__${store.id}__/reviews/__${review.id}__/delete}">
                                                                            <button type="submit" class="btn tabelogpage-btn-danger text-white shadow-sm">削除</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                                                                            
                                                    </span>      
                                                </div>                                              
                                                <p class="card-text mb-1">
                                                    <span class="tabelogpage-star" th:each="star : ${#numbers.sequence(1, 5)}" th:text="${star <= review.starRating} ? '&#9733;' : '&#9734;'"></span>
                                                </p>                      
                                                <p class="card-text"><small class="text-muted" th:text="${#dates.format(review.createdAt, 'yyyy年MM月dd日')}"></small></p>                              
                                                
                                                <p class="card-text" th:text="${review.comment}"></p>
                                            </div>
                                        </div>
                                    </div>                                     
                                </div>    
                                <div class="text-center mb-4" th:if="${totalReviewCount > 6}">
                                    <a th:href="@{/stores/__${store.id}__/reviews}">すべてのレビューを見る</a>
                                </div>                                                            
                            </div> 
                       </div>
                   </div>
               </div>
           </main>
           
           <div th:replace="~{fragment :: footer}"></div>
       </div>    
       
       <div th:replace="~{fragment :: scripts}"></div> 
       
       <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
       <script src="https://npmcdn.com/flatpickr/dist/l10n/ja.js"></script>
       
       <script th:src="@{/js/flatpickr.js(v=6)}"></script> 
       
 </body>
</html>