html {
 font-size: 14px;
}

body {
 font-family: 'Noto Sans JP', sans-serif;  
}

h1 {
 font-size: 1.5rem;
}

a {
 color: #5196a6;
 text-decoration: none !important;
}

a:hover {
   color: #407784;
}

footer {
 width: 100%;
 height: 60px;
 position: absolute;
 bottom: 0;    
 background-color: #f2f0eb;
}

.tabelogpage-wrapper {
 min-height: 100vh;
 position: relative;
 padding-bottom: 60px;
 box-sizing: border-box;
}

.tabelogpage-navbar {
 min-height: 60px;
}

.tabelogpage-logo {
 height: 100px;  
 
}

.tabelogpage-btn {
 background-color: #5196a6 !important;   
 transition: 0.1s;
}

.tabelogpage-btn:hover {
 opacity: 0.8;   
}

.tabelogpage-link {
  color: #5196a6;
}

.tabelog-page-link:hover {
  color: #407784;
}

.tabelogpage-active {
  background-color: #5196a6 !important;
  border-color: #5196a6 !important;
}

.tabelogpage-pre-wrap {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.tabelog-label-col {
  width: 100px;
  text-align: left;
  font-weight: bold;
}

.detail-card {
  max-width: 540px;
  margin: 0 auto 2rem auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.04);
  padding: 20px 24px;
}

.detail-image {
  width: 100%;       /* 親に対してMaxに */
  height: auto;      /* アスペクト比キープ */
  border-radius: 12px;
  object-fit: cover; /* 画像のトリミング対応 */
  display: block;
}

.tabelogpage-link-danger {
    color: #f2594b;
}

.tabelogpage-link-danger:hover {
    color: #a63c3c;
}

.tabelogpage-btn-danger {
    background-color: #f2594b !important;
    transition: 0.1s;
}

.tabelogpage:hover {
  opacity: 0.8;   
}
@media screen and (min-width: 1400px) {
 .tabelogpage-container {
   max-width: 1200px;
 }
}